@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #36364a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #36364a;
    --foreground: #f7f7f7;
  }
}

a:hover {
  font-weight: bold;
}

.no-underline:hover {
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", sans-serif;
}

hr {
  color: #b84d00;
  border-color: #b84d00;
  border-radius: 20px;
  border-top-style: var(--tw-border-style);
  border-top-width: 3px;
  background-color: #b84d00;
}

@media (prefers-color-scheme: dark) {
  hr {
    color: #ff862e;
    border-color: #ff862e;
    background-color: #ff862e;
  }
}

.font-medium {
  font-weight: 500;
}

.image-project-container {
  position: relative;
}

.base-image {
  opacity: 1;
}

.base-image:hover {
  opacity: 0;
  z-index: -5;
}

.scribble-overlay {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.scribble-overlay:hover {
  opacity: 1;
  z-index: 90;
}
