@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #36364A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #36364A;
    --foreground: #F7F7F7;
  }
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.no-underline:hover {
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", sans-serif;
}

hr {
  color: #FF862E;
  border-color: #FF862E;
  border-radius: 20px;
  border-top-style: var(--tw-border-style);
  border-top-width: 3px;
  background-color: #FF862E;
}

.font-medium {
  font-weight: 500;
}